<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLinkActive="active" routerLink="/placeholders" class="item">
      Placeholders
    </a>
    <a routerLinkActive="active" routerLink="/tables" class="item"> Tables </a>
    <a routerLinkActive="active" routerLink="/lists" class="item"> Lists </a>
    <a routerLinkActive="active" routerLink="/popups" class="item"> Popup </a>
  </div>
  <div class="ui segment">
    <p>
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
